<div class="show1">
    {{#fil user2}}
      <h1>Thông tin về tiết dạy của giảng viên {{this.Giangvien}}</h1>
    {{/fil}}
      <h1>tháng {{thang}}</h1>
      <h1>năm {{nam}}</h1>
</div>
{{!-- <div class="show1">
    <h1>Tổng số tiết dạy trong khoảng thời gian được chọn: {{thuc_giang}} hệ số quy đổi là {{heso}}</h1>
    {{#each users}}
    <h1>{{this}} tiết</h1>
    {{/each}}
</div> --}}
<table class="table mt-4 table-bordered table-hover table-sm table-striped">
  <thead>
    <tr>
      <th>STT</th>
      <th>Tên học phần</th>
      <th>Hệ</th>
      <th>Khóa</th>
      <th>Mã lớp học phần</th>
      <th>LT/ TH/ ĐA/ TTTN</th>
      <th>SL SV</th>
      <th>Thực giảng</th>
      <th>Hệ số TĐ ĐT</th>
    </tr>
  </thead>
  <tbody id="table_body_list">
    
    {{#each users3}}
    <tr>
      <td>{{sum @index 1}}</td>
      <td>{{this.Tenhocphan}}</td>
      <td>{{this.He}}</td>
      <td>{{this.Khoa}}</td>
      <td>{{this.Malop}}</td>
      <td>{{this.Hinhthuc}}</td>
      <td>{{this.SoSV}}</td>
      <td>{{this.Sotietday}}</td>
      <td>{{this.heso}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<div style="margin-left: 20px;">
  <table class="table mt-4 table-bordered table-hover table-sm" style="width: 25%;">
  <thead>
    <tr>
      <td>Tổng thực giảng</td>
      <td>Tổng số giờ giảng dạy</td>
      <td>Tổng số giờ đề nghị thanh toán</td>
    </tr>
  </thead>
  <tbody id="table_body_fil">
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>

<div>
  <div class="show1">
    <select class ="ten_hoc_phan" id="tenhocphan">
      <option value="none" selected disabled hidden>--Tên học phần--</option>
      
      {{#fil user2}}
      <option>{{this.Tenhocphan}}</option>
      {{/fil }}
    </select>
  </div>
  <div class="show1">
  <select class ="ma_lop" id="malop">
      <option value="none" selected disabled hidden>--Mã lớp--</option>
    </select>
  </div>
  <div class="show1">
    <select class ="ten_nhom" id="tennhom">
      <option value="none" selected disabled hidden>--LT/TH/ĐA/TTTN--</option>
    </select>
  </div>
  
  <div class="show1">
    <button class="btn btn-outline-dark" onclick="filter();"><span data-feather="filter"></span></button>
  </div>
</div>
<table class="table mt-4 table-bordered table-hover table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">Tuần</th>
      <th scope="col">Hệ</th>
      <th scope="col">Khóa</th>
      <th scope="col">Mã lớp</th>
      <th scope="col">Số lượng HS/SV</th>
      <th scope="col">LT/ TH/ ĐA/ TTTN</th>
      <th scope="col">Học phần/ Môn học</th>
      <th scope="col">Số tiết dạy</th>
    </tr>
  </thead>
  <tbody id="table_body">
    {{#each user2}}
    <tr>
      <td>{{viet this.Ngay}}</td>
      <td>{{this.He}}</td>
      <td>{{this.Khoa}}</td>
      <td>{{this.Malop}}</td>
      <td>{{this.SoSV}}</td>
      <td>{{this.Hinhthuc}}</td>
      <td>{{this.Tenhocphan}}</td>
      <td>{{this.Sotietday}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<div class="show2">
   <a href="/search"> Quay lại</a>
   <i ></i>
</div>

<script>
document.getElementById("tenhocphan").addEventListener("change",function(){
  var malop = document.getElementById("malop");
  var tennhom = document.getElementById("tennhom");
  var tenhocphan = document.getElementById("tenhocphan");
  var tbody = document.getElementById("table_body");
  var tr = tbody.getElementsByTagName("tr");
  var do_dai_malop = malop.length;
  for(var i = 0; i < do_dai_malop; i++){
    malop.remove(1);
  }
  var mang_malop = new Array;
  for (var i = 0; i < tr.length; i++) {
    var td = tr[i].getElementsByTagName("td")[6];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (tenhocphan.options[tenhocphan.selectedIndex].text===txtValue) {
        var td2 = tr[i].getElementsByTagName("td")[3];
        if(td2){
          var td_malop = td2.textContent || td2.innerText;
          if(!mang_malop.includes(td_malop)){
            mang_malop.push(td_malop);
          }
        }
      }
    }
  }
  for(var i in mang_malop){
    var option = document.createElement("option");
    option.text = mang_malop[i];
    malop.add(option);
  }
});
document.getElementById("malop").addEventListener("change",function(){
  var malop = document.getElementById("malop");
  var tennhom = document.getElementById("tennhom");
  var tenhocphan = document.getElementById("tenhocphan");
  var tbody = document.getElementById("table_body");
  var tr = tbody.getElementsByTagName("tr");
  var do_dai_tennhom = tennhom.length
  for(var i = 0; i <= do_dai_tennhom; i++){
    tennhom.remove(1);
  }
  var mang_tennhom = new Array;
  for (var i = 0; i < tr.length; i++) {
    var td = tr[i].getElementsByTagName("td")[6];
    if (td) {
      txtValue = td.textContent || td.innerText;
      var td2 = tr[i].getElementsByTagName("td")[3];
      txtValue2 = td2.textContent || td2.innerText;
      if (tenhocphan.options[tenhocphan.selectedIndex].text===txtValue && malop.options[malop.selectedIndex].text===txtValue2){
        var td3 = tr[i].getElementsByTagName("td")[5];
        var td_tennhom = td3.textContent || td3.innerText;
        if(!mang_tennhom.includes(td_tennhom)){
          mang_tennhom.push(td_tennhom);
        }
      }
    }
  }
  //alert(mang_tennhom);
  for(var i in mang_tennhom){
    var option = document.createElement("option");
    option.text = mang_tennhom[i];
    tennhom.add(option);
  }
});
function filter() {
  //alert(sel.options[sel.selectedIndex].text);
  var malop = document.getElementById("malop");
  var tennhom = document.getElementById("tennhom");
  var tenhocphan = document.getElementById("tenhocphan");
  var group = new Array;
  group[0] = malop;
  group[1] = tennhom;
  group[2] = tenhocphan;
  var number=0;
  var tbody = document.getElementById("table_body");
  var tr = tbody.getElementsByTagName("tr");
  for (var i = 0; i < tr.length; i++) {
    tr[i].style.display = "";
  }
  for(var gr in group){
    if(group[gr].options[group[gr].selectedIndex].value == "none")
    {
      continue;
    }
    switch(group[gr].className) {
      case "ma_lop":
        number=3;
      break;
      case "ten_nhom":
        number=5;
      break;
      case "ten_hoc_phan":
        number=6;
      break;
    }
    //console.log(typeof(group[gr].options[group[gr].selectedIndex].value));
    for (var i = 0; i < tr.length; i++) {
      var td = tr[i].getElementsByTagName("td")[number];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (group[gr].options[group[gr].selectedIndex].text===txtValue) {
          //tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
}
window.onload=function(){
  feather.replace();
  var tiet=0;
  var heso=0;
  var heso2=0;
  var tbody_list = document.getElementById("table_body_list");
  var tr_list = tbody_list.getElementsByTagName("tr");
  var tbody_fil = document.getElementById("table_body_fil");
  var tr_fil = tbody_fil.getElementsByTagName("tr");
  for (var i = 0; i < tr_list.length; i++){
    var t_d_list = tr_list[i].getElementsByTagName("td")[7];
    var t_d_list2 = tr_list[i].getElementsByTagName("td")[8];
    var t_d_list3 = tr_list[i].getElementsByTagName("td")[5];
    if(t_d_list3.innerText == "TTTN" || t_d_list3.innerText == "ĐATN" || t_d_list3.innerText == "ĐAMH"){
      heso2 += 0;
    }else{
      heso2 += Number(t_d_list2.innerText);
    }
    tiet += Number(t_d_list.innerText);
    heso += Number(t_d_list2.innerText);
  }
  var td_fil = tr_fil[0].getElementsByTagName("td")[0];
  var td_fil_1 = tr_fil[0].getElementsByTagName("td")[1];
  var td_fil_2 = tr_fil[0].getElementsByTagName("td")[2];
  td_fil.innerText = tiet;
  td_fil_1.innerText =heso2.toFixed(2);
  td_fil_2.innerText =heso.toFixed(2);



  if(document.cookie != "token="){
    document.getElementById('login').innerHTML = '<strong>Đăng xuất</strong>';
  }
};
</script>
<script src="https://unpkg.com/feather-icons"></script>









